server:
  port: 8080

spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  main:
    allow-circular-references: true
  jackson:
    mapper:
      DEFAULT_VIEW_INCLUSION: true
    serialization:
      indent_output: true
      WRITE_DATES_AS_TIMESTAMPS: false
    deserialization:
      FAIL_ON_IGNORED_PROPERTIES: false
      FAIL_ON_UNKNOWN_PROPERTIES: false
      ACCEPT_SINGLE_VALUE_AS_ARRAY: true
    default-property-inclusion: non_empty
  datasource:
    url: ${SUPABASE_JOSEFUS_DB_URL}
    username: ${SUPABASE_JOSEFUS_DB_USER}
    password: ${SUPABASE_JOSEFUS_DB_PWD}
    cachePrepStmts: true
    prepStmtCacheSize: 250
    prepStmtCacheSqlLimit: 2048
    useServerPrepStmts: true
  flyway:
    url: ${spring.datasource.url}
    default-schema: josefushighscore
    schemas:
      - josefushighscore
    enabled: true
    locations: classpath:db/migration
    user: ${SUPABASE_JOSEFUS_DB_USER}
    password: ${SUPABASE_JOSEFUS_DB_PWD}
    baselineOnMigrate: true
    check-location: true
  jwt:
    secret: ${JOSEFUS_JWT_SECRET}
    expiration-time: 3600000
    refresh-expiration-time: 604800000
  jpa:
    openInView: false
    show_sql: false
    generate-ddl: false
    hibernate:
      ddl-auto: update
    properties:
      # fixes Caused by: java.sql.SQLFeatureNotSupportedException: Method org.postgresql.jdbc.PgConnection.createClob() is not yet implemented.
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        default_schema: josefushighscore
  data:
    jpa:
      repositories.enabled: true
app:
  cors:
    allowed-origins:
      - http://localhost:3000
      - http://localhost:8005
    allowed-origin-patterns:
      - http://localhost:*
      - http://127.0.0.1:*
    allowed-methods:
      - GET
      - POST
      - PUT
      - PATCH
      - DELETE
      - OPTIONS
    allowed-headers:
      - Authorization
      - Content-Type
      - Accept
    exposed-headers: []
    allow-credentials: true
logging:
  level:
    org:
      springframework:
        web: INFO
        security: INFO
      hibernate:
        SQL: INFO
        type:
          descriptor:
            sql: warn
      flywaydb: INFO
